{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h1>Catégories</h1>

<a href="{{ url('app_category_create') }}">Ajouter une catégorie</a>

{% endblock %}
